@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@269&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.hero-bg{
    background-color: hsl(187, 47%, 46%);
    color:white;
    text-align: center;

}